*{
    margin: 0;
    padding: 0;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
              /* shared style */
body {
    background-color: #1A0B2E;
}             
.title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.title:hover {
    color: aquamarine;
}
.heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.details {
    color: #FFFFFF;
    opacity: 60%;
     line-height: 24px;
     font-size: 12px;
}
            /* navigation bar style */
header {
    background-color: #1A0B2E;
    max-width: 100%;
    height: 92px;

}            
#navigation-bar {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  
}
.brand-name img{
    width: 200px;
    height: 30px;
   
}

.info ul {
    display: flex;
    gap: 2rem;  
}
.info li {
    list-style: none;
}
.info li a {
    text-decoration: none;
}
.info li a:hover {
    color: aquamarine;
}

.info {
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 314px;
}
.info-bar {display: flex;align-items: center;}
#navigation-bar button {
    font-size: 1rem;
    color: #ffffff;
    padding: 12px 13px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 30px;
}
#navigation-bar button:hover {
      cursor: pointer;
      color: rgb(210, 204, 133);
}
 #navigation-bar>span {
    color:#FFFFFF;
    font-size: 2rem;
    display: none;
 }
 #navigation-bar>span:hover {
    cursor: pointer;
 }

                /* background speaker style */

 #music-container{
    background-image: url("../assets/hero-bg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}

.circle {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
  
    background: url("../assets/hero-circle.png");
    background-size: contain ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle img {
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
}
.circle img {
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    font-size: 18px;
    padding: 4px 15px;
    border-radius: 20px;

}
.music-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    max-width: 420px;
    padding: 40px 20px;
}
.music-content h3 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.music-content h3:hover {
    color: aquamarine;
}
.music-content p {
    font-size: 11px;
    margin-bottom: 15px;
     opacity: 60%;


}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    border:none
}
.btn:hover {
    cursor: pointer;
    color: aquamarine;
}
.spotify {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.subscribe {
    background: transparent;
    border: 1px solid #00FF88;
}

            /* podcast and summery  */
.podcast-container {
    width: 100%;
    height: 520px;
    background-color: #1A0B2E;
}
.max-container {
     width: 1110px;
    margin: 0 auto;
}
.about-podcast {
    text-align: center;
    padding-top: 50px;
}
.about-podcast>p {
     color: #FFFFFF;
     line-height: 20px;
     font-size: 12px;
}
hr {
    color: #FFFFFF;
    opacity: 20%;
    margin: 60px;
}
.summery-podcast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 120px;
   
}
.summery-overview h4 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #00FF88;
    
}
.summery-overview p {
    color: #FFFFFF;
  
}
              /* tech wave information style*/
.information {
    background-color: #1A0B2E;
    max-width: 100%;
    
}
.information>h3 {
    text-align: center;
    padding-top: 120px;
}
.box-container {
      width: 1110px;
      padding-bottom: 120px;
    margin: 0 auto;
    margin-top: 40px;
  
    
}
.information-info {
   
    background-color: #230E3D;
   padding: 40px;
   align-items: center;
   border-radius: 40px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.information-info:hover {
 transform: translateY(-12px);
 box-shadow: 0 15px 35px rgba(0, 0, 0,0.15);
}

.audio {
    align-content: center;
}
.audio {
    grid-area: audio;
}
.mobile {
     grid-area: mobile;
}
.global {
    grid-area: global;
}
.interviews {
    grid-area: interviews;
}
.resourses {
    grid-area: resourses;
}
.box-container {
    display: grid;
    gap: 40px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "interviews interviews resourses";

} 

          /* Episodes and host-section style */
.episode-host {
    width: 100%;
    
    background-color: #1A0B2E;
}

.featured-section {
    width: 1110px;
    margin: 0 auto;;
}
.featured-section h3 {
    text-align: center;
    margin-bottom: 40px;}

.card-featured-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.featured-section-detail{
    width: 340px;
    height: 440px;
    gap: 40px;
    background-color: #250D44;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;   
} 
.featured-section-detail:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 35px rgba(0, 0, 0,0.15);  
}
.featured-section-detail p {
    padding-left:20px;
}
.video {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.timer {
    color: #00FF88;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;

}

 .img-size { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; 
    
}
.video-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.thumbnail {
    width: 100%;
    display: block;
} 



.host-info {
    width: 100%;
    
    background-color: #1A0B2E;
    padding-top: 50px;
    
    
}

.host-info h3 {
    text-align: center;
    margin-bottom: 40px;
}
.host-container {
  display: flex;
  gap: 15px;
  background-color: #250D44;
  border-radius: 20px;
  padding: 20px;
   width: 1110px;  
   margin: 0 auto;;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.host-container:hover {
    transform: translateY(-12px);
 box-shadow: 0 15px 35px rgba(0, 0, 0,0.15);
}

.brand-logos {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.size {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 50%;
padding-left: 10px; 
padding-top: 10px;
   
} 
                /* footer section style */
#footer-section {
    width: 100%;
    min-height: 250px;
    margin-top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.logo-image {
    width: 250px;
    margin: 0 auto;
}
.footer-container {  
   
    
}
.footer-logos {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px; 
   padding-top: 20px;
  
}
.footer-logos span {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}





              /*responsive design  */
@media screen and (max-width:576px) {
    #navigation-bar {
        width: 100%;
        
    }
    .brand-name img{
    margin-left: 20px
   
}
    .info-bar {
        display: none;
    }
     #navigation-bar>span {
    color:#FFFFFF;
    font-size: 2rem;
    display: inline;
    margin-right: 20px;
 }
 section{
    background-position: 100%;
 }
 .max-container {
    width: 100%;
 }
 .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFFFFF;
}
 .about-podcast {
   
    align-content: center;
    padding: 0 30px;
   
}
.summery-podcast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
 
}
.box-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
   grid-template-areas: 
   "audio"
   "mobile"
   "global"
    "interviews"
    "resourses";
}
.featured-section {
    max-width: 100%;
}
.featured-section .title{
    width: 100%;
}
.card-featured-section{
   
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-left: 90px;
  width: 100%;
   
}
.host-info {
  width: 100%;
}
.host-container{
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 550px;
    align-items: center;
}
.featured-section h3 {
    text-align: left;
    padding-left: 56px;
}
.host-info h3{
    text-align: left;
   padding-left: 125px;
}
#footer-section {
    background-size: cover;
    
}
.footer-logos {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-top: 20px;
   padding-bottom: 20px;
  
   /* align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;  */
  
}

    
}


    

    



