*{
    margin: 0;
    padding: 0;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
            /* navigation bar style */
header {
    background-color: #1A0B2E;
    max-width: 100%;
    height: 92px;

}            
#navigation-bar {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  
}
.brand-name img{
    width: 200px;
    height: 30px;
   
}
.info ul {
    display: flex;
    gap: 2rem;
   
}
.info li {
    list-style: none;
}
.info li a {
    text-decoration: none;
}

.info {
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 314px;
}
.info-bar {display: flex;align-items: center;}
#navigation-bar button {
    font-size: 1rem;
    color: #ffffff;
    padding: 12px 13px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 30px;
}
 #navigation-bar>span {
    color:#FFFFFF;
    font-size: 2rem;
    display: none;
 }








              /*responsive design  */
@media screen and (max-width:576px) {
    #navigation-bar {
        width: 100%;
        
    }
    .brand-name img{
    margin-left: 20px
   
}
    .info-bar {
        display: none;
    }
     #navigation-bar>span {
    color:#FFFFFF;
    font-size: 2rem;
    display: inline;
    margin-right: 20px;
 }
    
} 

@